
<div id="page-start"></div>

<section class="full-width-section">

	<div class="container-fluid">
		<div class="row">

			<div class="main col-lg-12 border-left">

                <!-- slideshow start -->
                <!-- ================ -->
                <div class="slideshow">

                    <!-- slider revolution start -->
                    <!-- ================ -->
                    <div class="slider-revolution-5-container">
                        <div id="slider-banner-fullwidth-big-height" class="slider-banner-fullwidth-big-height rev_slider" data-version="5.0">
                            <ul class="slides">

                                <!-- slide 1 start -->
                                <!-- ================ -->
                                <li data-transition="crossfade" data-slotamount="default" data-masterspeed="200">

                                    <!-- main image -->
                                    <img src="images/main_image_1.jpg" alt="slidebg1" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover"  class="rev-slidebg">

                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption sfb fadeout dark-translucent-bg caption-box text-left"
                                         style="background-color: rgba(0, 0, 0, 0.8);"
                                         data-x="right"
                                         data-y="center"
                                         data-start="600"
                                         data-whitespace="normal"
                                         data-transform_idle="o:1;"
                                         data-transform_in="y:[100%];sX:1;sY:1;o:0;s:1150;e:Power4.easeInOut;"
                                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                                         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                                        <h2 class="title">쉽고 간편하게 나만의 <br/>손글씨 폰트를 만들어보세요.</h2>
                                        <div class="separator-2 clearfix"></div>
                                        <p>SONMAT만의 고유의 기술로 내 손글씨를 폰트로 만들어주세요.</p>
                                        <div class="text-right"><a class="btn btn-small btn-default margin-clear" href="page-services.html">Read More</a></div>
                                    </div>

                                </li>
                                <!-- slide 1 end -->

                                <!-- slide 2 start -->
                                <!-- ================ -->
                                <li data-transition="crossfade" data-slotamount="default" data-masterspeed="300">

                                    <!-- main image -->
                                    <img src="images/main_image_2.jpg" alt="slidebg2" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover" class="rev-slidebg">

                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption sfb fadeout dark-translucent-bg caption-box text-left"
                                         style="background-color: rgba(0, 0, 0, 0.8);"
                                         data-x="left"
                                         data-y="center"
                                         data-start="600"
                                         data-whitespace="normal"
                                         data-transform_idle="o:1;"
                                         data-transform_in="y:[100%];sX:1;sY:1;o:0;s:1150;e:Power4.easeInOut;"
                                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                                         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                                        <h2 class="title">누군가로부터 직접 쓴 편지를 받았을 때의 <br/>느낌을 기억하시나요?</h2>
                                        <div class="separator-2 clearfix"></div>
                                        <p>이메일과 문자가 일상이 된 요즘, 손편지를 받을 때의 흥분과 설렘을 느껴보세요.</p>
                                        <div class="text-right"><a class="btn btn-small btn-default margin-clear" href="page-services.html">Read More</a></div>
                                    </div>

                                </li>
                                <!-- slide 2 end -->

                                <!-- slide 3 start -->
                                <!-- ================ -->
                                <li data-transition="crossfade" data-slotamount="default" data-masterspeed="200">

                                    <!-- main image -->
                                    <img src="images/main_image_3.jpg" alt="slidebg1" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover"  class="rev-slidebg">

                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption sfb fadeout dark-translucent-bg caption-box text-left"
                                         style="background-color: rgba(0, 0, 0, 0.8);"
                                         data-x="right"
                                         data-y="center"
                                         data-start="600"
                                         data-whitespace="normal"
                                         data-transform_idle="o:1;"
                                         data-transform_in="y:[100%];sX:1;sY:1;o:0;s:1150;e:Power4.easeInOut;"
                                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                                         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                                        <h2 class="title">직접 쓴 편지로 <br/>지인에게 감동을 선물하세요.</h2>
                                        <div class="separator-2 clearfix"></div>
                                        <p>가족, 연인, 친구들에게 평소에 하지 못한 이야기를 전하고 희로애락을 공유하세요.</p>
                                        <div class="text-right"><a class="btn btn-small btn-default margin-clear" href="page-services.html">Read More</a></div>
                                    </div>

                                </li>
                                <!-- slide 3 end -->

                                <!-- slide 4 start -->
                                <!-- ================ -->
                                <li data-transition="crossfade" data-slotamount="default" data-masterspeed="300">

                                    <!-- main image -->
                                    <img src="images/main_image_4.jpg" alt="slidebg4" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover" class="rev-slidebg">

                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption sfb fadeout dark-translucent-bg caption-box text-left"
                                         style="background-color: rgba(0, 0, 0, 0.8);"
                                         data-x="left"
                                         data-y="center"
                                         data-start="600"
                                         data-whitespace="normal"
                                         data-transform_idle="o:1;"
                                         data-transform_in="y:[100%];sX:1;sY:1;o:0;s:1150;e:Power4.easeInOut;"
                                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                                         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                                        <h2 class="title">다른 사람의 손글씨를 적용해서 <br/>편지를 작성해보세요.</h2>
                                        <div class="separator-2 clearfix"></div>
                                        <p>갤러리에 내 손글씨를 자랑하고, <br/>마음에 드는 다른 사람의 손글씨를 편지에 적용해보세요.</p>
                                        <div class="text-right"><a class="btn btn-small btn-default margin-clear" href="page-services.html">Read More</a></div>
                                    </div>

                                </li>
                                <!-- slide 4 end -->
                            </ul>
                            <div class="tp-bannertimer"></div>
                        </div>
                    </div>
                    <!-- slider revolution end -->

                </div>
                <!-- slideshow end -->

			</div>
		</div>
	</div>
</section>