
<div id="page-start"></div>

<section class="full-width-section">

	<div class="container-fluid">
		<div class="row">

			<div class="main col-lg-12 border-left">

                <!-- slideshow start -->
                <!-- ================ -->
                <div class="slideshow">

                    <!-- slider revolution start -->
                    <!-- ================ -->
                    <div class="slider-revolution-5-container">
                        <div id="slider-banner-fullwidth-big-height" class="slider-banner-fullwidth-big-height rev_slider" data-version="5.0">
                            <ul class="slides">

                                <!-- slide 1 start -->
                                <!-- ================ -->
                                <li data-transition="crossfade" data-slotamount="default" data-masterspeed="200">

                                    <!-- main image -->
                                    <img src="images/main_image_writing.jpg" alt="slidebg1" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover"  class="rev-slidebg">

                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption sfb fadeout dark-translucent-bg caption-box text-left"
                                         style="background-color: rgba(0, 0, 0, 0.8);"
                                         data-x="right"
                                         data-y="center"
                                         data-start="600"
                                         data-whitespace="normal"
                                         data-transform_idle="o:1;"
                                         data-transform_in="y:[100%];sX:1;sY:1;o:0;s:1150;e:Power4.easeInOut;"
                                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                                         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                                        <h2 class="title">당신의 손맛이 묻어있는 편지를<br/>작성해보세요</h2>
                                        <div class="separator-2 clearfix"></div>
                                        <p>내 손맛 그대로 편지에 담아 당신의 마음을 전해보세요.<br/>손맛나는편지 존맛탱 JMT SMT 입니다.</p>
                                        <div class="text-right"><a class="btn btn-small btn-default margin-clear" href="page-services.html">Read More</a></div>
                                    </div>

                                </li>
                                <!-- slide 1 end -->

                                <!-- slide 2 start -->
                                <!-- ================ -->
                                <li data-transition="crossfade" data-slotamount="default" data-masterspeed="300">

                                    <!-- main image -->
                                    <img src="images/main_image_reading.png" alt="slidebg2" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover" class="rev-slidebg">

                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption sfb fadeout dark-translucent-bg caption-box text-left"
                                         style="background-color: rgba(0, 0, 0, 0.8);"
                                         data-x="left"
                                         data-y="center"
                                         data-start="600"
                                         data-whitespace="normal"
                                         data-transform_idle="o:1;"
                                         data-transform_in="y:[100%];sX:1;sY:1;o:0;s:1150;e:Power4.easeInOut;"
                                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                                         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                                        <h2 class="title">손글씨 감성 충만하게 편지에 담아</h2>
                                        <div class="separator-2 clearfix"></div>
                                        <p>사랑하는 가족, 연인, 친구에게 전하지 못한 마음을 정성 담은 손편지로 전해보세요.<br/>그냥 아주 막 그냥 감동 쩔어요.</p>
                                        <div class="text-right"><a class="btn btn-small btn-default margin-clear" href="page-services.html">Read More</a></div>
                                    </div>

                                </li>
                                <!-- slide 2 end -->
                            </ul>
                            <div class="tp-bannertimer"></div>
                        </div>
                    </div>
                    <!-- slider revolution end -->

                </div>
                <!-- slideshow end -->

			</div>
		</div>
	</div>
</section>