<!-- header-container end -->
<!-- breadcrumb start -->
<!-- ================ -->

<div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home pr-2"></i><a class="link-dark" href="/">Home</a></li>
            <li class="breadcrumb-item active">Sign Up</li>
        </ol>
    </div>
</div>
<!-- breadcrumb end -->

<!-- main-container start -->
<!-- ================ -->
<div class="main-container dark-translucent-bg" style="background-image:url('/images/background-img-6.jpg');">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto">
                <!-- main start -->
                <!-- ================ -->
                <div class="main object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100">
                    <div class="form-block p-30 light-gray-bg border-clear">
                        <h2 class="title">회원 가입</h2>

                        <form class="form-horizontal memberForm " role="form" method="post" action="/api/account/signup">

                            <div class="form-group has-feedback row">
                                <label for="loginId" class="col-md-3 control-label text-md-right col-form-label">Email <span class="text-danger small">*</span></label>
                                <div class="col-md-8">
                                    <input type="email" class="form-control" id="loginId" name="id" placeholder="이메일을 입력해주세요" pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" data-error="이메일 형식으로 입력해주세요" required>
                                    <i class="fa fa-envelope form-control-feedback pr-4"></i>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="form-group has-feedback row">
                                <label for="inputPassword" class="col-md-3 control-label text-md-right col-form-label">비밀번호 <span class="text-danger small">*</span></label>
                                <div class="col-md-8 ">
                                    <input type="password" class="form-control" id="inputPassword" name="password" placeholder="비밀번호를 입력해주세요" data-error="비밀번호를 입력해주세요." data-minlength="8" data-minlength-error="8자 이상 입력해주세요." required>
                                    <i class="fa fa-lock form-control-feedback pr-4"></i>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="form-group has-feedback row">
                                <label for="matchPassword" class="col-md-3 control-label text-md-right col-form-label">비밀번호 확인<span class="text-danger small">*</span></label>
                                <div class="col-md-8">
                                    <input type="password" class="form-control" data-match="#inputPassword" id="matchPassword" placeholder="비밀번호 확인" data-match-error="비밀번호를 확인해주세요." data-minlength="8" data-minlength-error="8자 이상 입력해주세요." data-error="비밀번호를 입력해주세요." required>
                                    <i class="fa fa-check form-control-feedback pr-4"></i>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="form-group has-feedback row">
                                <label for="inputName" class="col-md-3 control-label text-md-right col-form-label">이름 <span class="text-danger small">*</span></label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="inputName" name="name" placeholder="이름을 입력해주세요" required>
                                    <i class="fa fa-user form-control-feedback pr-4"></i>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="form-group has-feedback row">
                                <label for="inputPhoneNumber" class="col-md-3 control-label text-md-right col-form-label">전화번호 <span class="text-danger small">*</span></label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="inputPhoneNumber" name="phoneNumber" placeholder="전화번호를 입력해주세요" required>
                                    <i class="fa fa-info-circle form-control-feedback pr-4"></i>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>


                            <div class="row">
                                <label for="matchPassword" class="col-md-3 control-label text-md-right col-form-label"></label>
                                <div class="col-md-8" id="errorMessageArea">
                                    <strong id="errorMessage" class="text-danger">

                                    </strong>
                                </div>
                            </div>


                            <div class="form-group row">
                                <div class="text-center" style="margin:auto;">
                                    <button type="submit" class="btn btn-group btn-default">가입 </button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <!-- main end -->
            </div>
        </div>
    </div>
</div>
<!-- main-container end -->


<script type="text/javascript">
    $('.memberForm').validator().on('submit', function (event) {
        debugger;
        if (event.isDefaultPrevented() == false) {
            var $this = $(this);
            FormAjaxUtils.send($this, function () {
                alert('회원 가입이 완료 되었습니다.')
                location.href = "/" ;
            }, function (response) {
                $('#errorMessageArea').show().find('#errorMessage').text(response.responseJSON.message);
            });
        }
        return false;
    });


</script>