<!-- header-container start -->
<div class="header-container">
    <!-- header-top start -->
    <!-- classes:  -->
    <!-- "dark": dark version of header top e.g. class="header-top dark" -->
    <!-- "colored": colored version of header top e.g. class="header-top colored" -->
    <!-- ================ -->
    <div class="header-top dark">
        <div class="container">
            <div class="row">
                <div class="col-3 col-sm-6 col-lg-9">
                    <!-- header-top-first start -->
                    <!-- ================ -->

                    <!-- header-top-first end -->
                </div>
                <div class="col-9 col-sm-6 col-lg-3">

                    <!-- header-top-second start -->
                    <!-- ================ -->
                    <div id="header-top-second"  class="clearfix">

                        <!-- header top dropdowns start -->
                        <!-- ================ -->
                        <% if(locals.loggedUser) { %>

                            <div class="header-top-dropdown text-right">
                                <div class="btn-group">
                                    <a href="#" class="btn btn-default btn-sm"><span><%=loggedUser.name %>님</span></a>
                                </div>
                                <div class="btn-group">
                                    <a href="/account/logout" class="btn btn-default btn-sm"><i class="fa fa-sign-out pr-2"></i> logout</a>
                                </div>
                            </div>
                        <% } else { %>
                            <div class="header-top-dropdown text-right">
                                <div class="btn-group">
                                    <a href="/account/sign-up" class="btn btn-default btn-sm"><i class="fa fa-user pr-2"></i> Sign Up</a>
                                </div>
                                <div class="btn-group">
                                    <button  type="button" class="btn dropdown-toggle btn-default btn-sm dropdown-toggle--no-caret" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-lock pr-2"></i> Login</button>
                                    <ul class="dropdown-menu dropdown-menu-right dropdown-animation" aria-labelledby="header-top-drop-2">
                                        <li>
                                            <form class="login-form margin-clear" action="/api/account/login" method="post">
                                                <div class="form-group has-feedback">
                                                    <label class="control-label">Username</label>
                                                    <input type="text" name="id" class="form-control" placeholder="">
                                                    <i class="fa fa-user form-control-feedback"></i>
                                                </div>
                                                <div class="form-group has-feedback">
                                                    <label class="control-label">Password</label>
                                                    <input type="password" name="password" class="form-control" placeholder="">
                                                    <i class="fa fa-lock form-control-feedback"></i>
                                                </div>


                                                <button type="submit" class="btn btn-gray btn-sm">Log In</button>
                                                <span class="pl-1 pr-1">or</span>
                                                <a href="/account/sign-up"  class="btn btn-default btn-sm">Sign Up</a>
                                            </form>


                                        </li>
                                    </ul>
                                </div>
                            </div>
                        <% } %>
                        <!--  header top dropdowns end -->
                    </div>
                    <!-- header-top-second end -->
                </div>
            </div>
        </div>
    </div>
    <!-- header-top end -->

    <!-- header start -->
    <!-- classes:  -->
    <!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
    <!-- "fixed-desktop": enables fixed navigation only for desktop devices e.g. class="header fixed fixed-desktop clearfix" -->
    <!-- "fixed-all": enables fixed navigation only for all devices desktop and mobile e.g. class="header fixed fixed-desktop clearfix" -->
    <!-- "dark": dark version of header e.g. class="header dark clearfix" -->
    <!-- "centered": mandatory class for the centered logo layout -->
    <!-- ================ -->
    <header class="header fixed fixed-desktop clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-auto hidden-md-down">
                    <!-- header-first start -->
                    <!-- ================ -->
                    <div class="header-first clearfix">

                        <!-- logo -->
                        <div id="logo" >
                            <a href="/"><img id="logo_img" src="/../images/logo-sonmat.png" alt="Sonmat"></a>
                        </div>

                        <!-- name-and-slogan -->
                        <div class="site-slogan">
                            WAY BACK HOME GO HOME WANT TO GO HOME
                        </div>

                    </div>
                    <!-- header-first end -->

                </div>
                <div class="col-lg-8 ml-auto">

                    <!-- header-second start -->
                    <!-- ================ -->
                    <div class="header-second clearfix">

                        <!-- main-navigation start -->
                        <!-- classes: -->
                        <!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
                        <!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
                        <!-- ================ -->
                        <div class="main-navigation main-navigation--mega-menu  animated">
                            <nav class="navbar navbar-expand-lg navbar-light p-0">
                                <div class="navbar-brand clearfix hidden-lg-up">

                                    <!-- logo -->
                                    <div id="logo-mobile" class="logo">
                                        <a href="/"><img id="logo_img" src="/../images/logo-sonmat.png" alt="Sonmat"></a>
                                    </div>

                                    <!-- name-and-slogan -->
                                    <div class="site-slogan">

                                    </div>

                                </div>

                                <!-- header dropdown buttons -->
                                <div class="header-dropdown-buttons hidden-lg-up p-0 ml-auto mr-3">

                                </div>
                                <!-- header dropdown buttons end -->

                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-1" aria-controls="navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>

                                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                                    <!-- main-menu -->
                                    <ul class="navbar-nav ml-xl-auto">

                                        <!-- mega-menu start -->
                                        <li class="nav-item dropdown mega-menu mega-menu--wide" id="message-list">
                                            <a href="/message/list" class="nav-link " style="font-weight: bold; font-size: large;">손편지함</a>
                                        </li>

                                        <li class="nav-item dropdown mega-menu mega-menu--wide" id="message-form">
                                            <a href="/message/form" class="nav-link " style="font-weight: bold; font-size: large;">손편지쓰기</a>
                                        </li>

                                        <li class="nav-item dropdown mega-menu mega-menu--wide" id="font-make">
                                            <a href="/handwrite" class="nav-link " style="font-weight: bold; font-size: large;">손글씨만들기</a>
                                        </li>

                                        <li class="nav-item dropdown mega-menu mega-menu--wide" id="font-gallery">
                                            <a href="/font" class="nav-link " style="font-weight: bold; font-size: large;">손글씨갤러리 <span style="display: none;" class="badge badge-secondary bg-danger text-white" id="new-badges">New</span></a>
                                        </li>
                                    </ul>
                                    <!-- main-menu end -->
                                </div>
                            </nav>
                        </div>
                        <!-- main-navigation end -->
                    </div>
                    <!-- header-second end -->

                </div>

            </div>
        </div>
    </header>
    <!-- header end -->
</div>
<!-- header-container end -->