<div id="page-start"></div>

<section class="main-container">

    <div class="container">
        <div class="row">

            <!-- main start -->
            <!-- ================ -->
                <div class="main col-12">
                    <!-- page-title start -->
                    <!-- ================ -->

                    <br/>
                    <br/>
                    <form class="form-group">
                        <div class="row">

                            <div class="col-lg-12">
                                <input type="email" class="form-control" name="inputEmail" placeholder="이메일을 입력하세요">
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <div class="row">
                            <div class="col-lg-12">
                                <input class="form-control" type="text" name="inputTitle" placeholder="제목을 입력하세요">
                            </div>
                        </div>
                        <div class="separator"></div>

                        <div id="summernote" name="inputContents"></div>
                        <div class="separator"></div>
                        <div class="text-right">
                            <button type="button" class="btn btn-success" id="upload_btn"><i class="fa fa-save"></i>저장</button>
                        </div>
                    </form>
                </div>


            <!-- main end -->

        </div>
    </div>
</section>

<script type="text/javascript">

    // 폰트 리스트 (summernote에 선언 후 폰트 load)

    var font_names = <%- JSON.stringify(font_names) %>;

    var font_file_path =  <%- JSON.stringify(font_file_path) %> ;

    font_names.forEach(function(font_name, index) {

        var font_face = new FontFace(font_name, 'url(' + font_file_path[index] + ')');

        // 폰트 load
        font_face.load().then(function(loaded_face) {

            // load 된 폰트 추가
            document.fonts.add(loaded_face);
        }).catch(function(error) { });
    });



    var editor = $('#summernote').summernote({
        placeholder: '당신의 손글씨가 담긴 편지로 마음을 전해보세요',
        tabsize: 2,
        height: 400,
        fontNames: font_names,
        fontNamesIgnoreCheck: font_names,
        toolbar : false
    });


    function getRandomInt(min, max) {
        min = Math.ceil(min);
        max = Math.floor(max);
        return Math.floor(Math.random() * (max - min + 1)) + min;
    }



    function getRandomFont() {
        var randomFontIndex = getRandomInt(0 , font_names.length);
        return font_names[randomFontIndex];
    }

    // summernote.change font
    editor.on('summernote.keyup', function(we, contents, $editable) {
        var randomFont = getRandomFont();
        console.log(randomFont);
        editor.summernote('fontName' , randomFont);

    });

        // 업로드 버튼 - click event
    $(document).on('click', '#upload_btn', function() {

        var formData = {}
        formData.email = $("input[name=inputEmail]").val()
        formData.title = $("input[name=inputTitle]").val()
        formData.contents = $("div#summernote").summernote('code');

        var MESSAGE_POST_UPLOAD_URL = '/api/message';

        function fn_success(sonmat_req_id) {
            window.location.href = "/message/to/" + sonmat_req_id;
        }

        AjaxUtils.postResult(MESSAGE_POST_UPLOAD_URL, formData, fn_success);

    });

</script>