<div id="page-start"></div>

<style>
    .message-form-background {
        background: url("/images/message-form-background.jpg") 50% 0px no-repeat;
    }

    .separator {
        background:
                linear-gradient(to right,
                                transparent 0%,
                                rgba(0, 0, 0, 0.2) 25%,
                                transparent 45%,
                                transparent 55%,
                                rgba(0, 0, 0, 0.2) 75%,
                                transparent 100%); !important;
    }

    .note-custom-toolbar-select {
        font-weight: bold; background-color: #09afdf; color: white; text-align: right; width: auto; border: none;
        margin-left: 5px;
    }

    .note-custom-toolbar-select-item {
        font-weight: bold; background-color: #09afdf; color: white;
    }

</style>

<section class="main-container section pv-40 fixed-bg message-form-background">

    <div class="container">
        <div class="row">

            <!-- main start -->
            <!-- ================ -->
                <div class="main col-12">
                    <!-- page-title start -->
                    <!-- ================ -->

                    <form class="form-group">

                        <div class="pv-20 ph-20 light-gray-bg hc-item-box bordered animated hc-element-invisible hc-element-visible">

                            <br/>

                            <div class="row">
                                <div class="col-lg-12">
                                        <div class="valid-feedback" style="display: block;"><i class="fa fa-exclamation-circle"></i>&nbsp;&nbsp;카카오톡으로 전송하려면 입력하지 않으셔도 됩니다</div>
                                            <% if(send_email == null){%>
                                                <input type="email" class="form-control" name="inputEmail" placeholder="이메일을 입력하세요">
                                            <% } else { %>
                                                <input type="email" class="form-control" name="inputEmail" placeholder="이메일을 입력하세요" value="<%= send_email %>">
                                            <% } %>

                                        <div id="email-feedback" class="invalid-feedback" style="display:none;">상대 이메일을 확인해주세요.</div>
                                    
                                </div>
                            </div>

                            <br/>

                            <div class="row">
                                <div class="col-lg-12">
                                    <input class="form-control" type="text" name="inputTitle" placeholder="제목을 입력하세요">
                                </div>
                            </div>

                            <div class="separator with-icon"><i class="fa text-default fa-envelope-square"></i></div>

                            <div class="pt-1 pb-1" style="background-color: #09afdf; color: white; border-radius: 5px; display: flex;">

                                <select class="form-control note-custom-toolbar-select" id="fontname-select"></select>

                                <select class="form-control note-custom-toolbar-select" id="fontsize-select">
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="25">25</option>
                                    <option value="30">30</option>
                                    <option value="35">35</option>
                                </select>
                            </div>


                            <div id="summernote" name="inputContents"></div>

                            <br/>

                            <div class="text-right pull-right">
                                <button type="button" id="kakao_send_btn" class="btn _btn_share_kakao btn-default btn-lg margin-clear">카카오톡 전송&nbsp;&nbsp;&nbsp;<img src="/images/kakaolink_btn_very_small_ov.png" class="image" style="display: inline"></button>
                                <button type="button" id="upload_btn" class="btn btn-default btn-lg btn-animated margin-clear">전송&nbsp;&nbsp;<i class="fa fa-envelope-o"></i></button>
                            </div>

                            <br/>
                            <br/>

                        </div>
                    </form>
                </div>


            <!-- main end -->

        </div>
    </div>
</section>

<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<script src="/js/social/kakao/kakao.js"></script>
<script type="text/javascript">

    function setEndOfContenteditable(contentEditableElement)
    {
        var range,selection;
        if(document.createRange)//Firefox, Chrome, Opera, Safari, IE 9+
        {
            range = document.createRange();//Create a range (a range is a like the selection but invisible)
            range.selectNodeContents(contentEditableElement);//Select the entire contents of the element with the range
            range.collapse(false);//collapse the range to the end point. false means collapse to end rather than the start
            selection = window.getSelection();//get the selection object (allows you to change selection)
            selection.removeAllRanges();//remove any selections already made
            selection.addRange(range);//make the range you have just created the visible selection
        }
        else if(document.selection)//IE 8 and lower
        {
            range = document.body.createTextRange();//Create a range (a range is a like the selection but invisible)
            range.moveToElementText(contentEditableElement);//Select the entire contents of the element with the range
            range.collapse(false);//collapse the range to the end point. false means collapse to end rather than the start
            range.select();//Select the range (make it the visible selection
        }
    }

    var font_map = <%- JSON.stringify(font_list) %>;
    Object.keys(font_map).forEach(function(font_id) {

            var font = font_map[font_id];

            // font-face에 등록
            register_font_face(font);

            // font dropdown에 등록
            $("#fontname-select").append(new Option(font.name, font.id));
        }
    );

    // summernote 생성
    var editor = $('#summernote').summernote({
        lang: 'ko-KR',
        placeholder: '당신의 손글씨가 담긴 편지로 마음을 전해보세요',
        tabsize: 2,
        height: 400,
        toolbar : false
    });

    // 폰트 init
    var randomFont = getRandomFont();
    editor.summernote('fontName', randomFont);

    // 폰트 크기 init
    //applyFontSize();

    $("input[name=inputEmail]").focus();



    /* 폰트 등록 */

    function register_font_face(font) {
        font.file_path.forEach(function(_, index) {
            var font_face = new FontFace(font.file_name[index], 'url(' + font.file_path[index] + ')');

            // 폰트 load
            font_face.load().then(function(loaded_face) {
                // load 된 폰트 추가
                document.fonts.add(loaded_face);
            }).catch(function(error) { });
        });
    }

    /* 랜덤화 */

    // summernote.keyup event
    $('#summernote').on('summernote.keyup', function(we, e) {

        var append = $('.note-editable').html();
        //console.log('append : ', append);

        //console.log('append2 : ', $("#summernote").summernote("code"));



        // space
        if (e.keyCode == 32 || e.keyCode == 13) {

            //console.log($('.note-editable').html());

            //$('.note-editable').text('');
            //$('.note-editable').append(append);

            var randomFont = getRandomFont();
            editor.summernote('fontName', randomFont);

            //setEndOfContenteditable(document.getElementsByClassName('note-editable')[0]);

            //editor.summernote('fontSize', $('#fontsize-select').val());
        }
    });




    function getRandomInt(min, max) {
        min = Math.ceil(min);
        max = Math.floor(max);
        return Math.floor(Math.random() * (max - min + 1)) + min;
    }

    function getRandomFont() {

        var selected_font_list = font_map[$('#fontname-select').val()].file_name;
        var randomFontIndex = getRandomInt(0 , selected_font_list.length - 1);

        return selected_font_list[randomFontIndex];
    }



    /* 폰트 속성 변경 */

    // 폰트 변경
    $('#fontname-select').on('change', function(e) {

        //console.log($(this).val());

        var randomFont = getRandomFont();
        editor.summernote('fontName', randomFont);

    });

    //  폰트 크기 변경
    $('#fontsize-select').on('change', function(e) {

        var fontsize = $(this).val();
        $(".note-editable").attr('style', 'font-size: ' + fontsize + 'px; height: 400px; !important');
    });


    /* email 유효성 확인 */

    $(document).on('focusout', 'input[name=inputEmail]', function() {

        var formData = {}
        formData.email = $("input[name=inputEmail]").val()
        var CHECK_EMAIL_URL = '/api/message/check_email';

        function fn_success(user) {
            if (user.name == null){
                // user = {}
                is_sendable_state.email = false;
                $("input[name=inputEmail]").attr('class', 'form-control is-invalid');
            }else{
                // user = { id, name, .... }
                is_sendable_state.email = true;
                $("input[name=inputEmail]").attr('class', 'form-control is-valid');
            }
        }
        AjaxUtils.postResult(CHECK_EMAIL_URL, formData, fn_success);

    });



    /* 메세지 전송 */

    var is_sendable_state = {
        email: false,
    };

    function getSendableState(){
        var state = true;
        for (var item in is_sendable_state){
            if (is_sendable_state[item] == false) state = false;
        }
        return state;
    }

    function get_contents_html(raw_html_str) {

        var font_size = $('#fontsize-select').val();
        return raw_html_str.replace(/style="/gi, 'style="font-size: ' + font_size + 'pt; ');
    }

    function getMessageFormData() {

        var formData = {}
        formData.email = $("input[name=inputEmail]").val()
        formData.title = $("input[name=inputTitle]").val()
        formData.contents_html = get_contents_html($("div#summernote").summernote('code'));
        formData.contents = $($("#summernote").summernote("code")).text();
        formData.font_id = $('#fontname-select').val();

        return formData;
    }

    // 업로드 버튼 - click event
    $(document).on('click', '#upload_btn', function() {

        if (getSendableState()){

            var formData = getMessageFormData();
            var MESSAGE_POST_UPLOAD_URL = '/api/message';

            function fn_success(sonmat_req_id) {
                alert("편지 전송이 완료되었습니다");
                window.location.href = "/message/to/" + sonmat_req_id;
            }

            AjaxUtils.postResult(MESSAGE_POST_UPLOAD_URL, formData, fn_success);
        } else {
            if (is_sendable_state.email == false)  $('#email-feedback').css('display', '');
        }
    });


    /* 카카오톡으로 전송하기 */

    // 카카오톡 전송 버튼 - click event
    $(document).on('click', '#kakao_send_btn', function() {

        var formData = getMessageFormData();
        var MESSAGE_KAKAO_POST_UPLOAD_URL = '/api/message/share';

        function fn_success(response) {

            var kakaoShare = new KakaoShare();

            function initShareKakao() {
                var container = '._btn_share_kakao';
                var title = response.user_name + ' 님이 보낸 메세지 입니다.';
                var image = 'http://son-mat.com/images/share_logo.png';
                var link = response.url;
                var message = response.message_title;
                kakaoShare.share(container , title, image, message , link,
                    // success
                    function() {
                        //console.log("success")
                    },
                    // callback
                    function() {

                        alert("카카오톡으로 손편지가 전송 완료 되었습니다.");
                        window.location.href = '/message/to/' + response.message_id;
                    });
            }

            initShareKakao();
        }

        AjaxUtils.postResult(MESSAGE_KAKAO_POST_UPLOAD_URL, formData, fn_success);
    });

    $(document).ready(function () {
        var val = location.href.substr(
            location.href.lastIndexOf('=') + 1
        );
        // console.log('val : ' + val);
    });

</script>