<div id="page-start"></div>

<style>
    .message-form-background {
        background: url("../images/message-form-background.jpg") 50% 0px no-repeat;
    }

    .separator {
        background:
                linear-gradient(to right,
                                transparent 0%,
                                rgba(0, 0, 0, 0.2) 25%,
                                transparent 45%,
                                transparent 55%,
                                rgba(0, 0, 0, 0.2) 75%,
                                transparent 100%); !important;
    }

    .note-editable {
        font-size: 20pt !important;
    }

    .note-custom-toolbar-select {
        font-weight: bold; background-color: #09afdf; color: white; text-align: right; width: auto; border: none;
        margin-left: 5px;
    }

    .note-custom-toolbar-select-item {
        font-weight: bold; background-color: #09afdf; color: white;
    }

</style>

<section class="main-container section pv-40 fixed-bg message-form-background">

    <div class="container">
        <div class="row">

            <!-- main start -->
            <!-- ================ -->
                <div class="main col-12">
                    <!-- page-title start -->
                    <!-- ================ -->

                    <form class="form-group">

                        <div class="pv-20 ph-20 light-gray-bg hc-item-box bordered animated hc-element-invisible hc-element-visible">

                            <br/>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="valid-feedback" style="display: block;"><i class="fa fa-exclamation-circle"></i>&nbsp;&nbsp;카카오톡으로 전송하려면 입력하지 않으셔도 됩니다</div>
                                    <input type="email" class="form-control" name="inputEmail" placeholder="이메일을 입력하세요">
                                    <div id="email-feedback" class="invalid-feedback" style="display:none;">상대 이메일을 확인해주세요.</div>
                                </div>
                            </div>

                            <br/>

                            <div class="row">
                                <div class="col-lg-12">
                                    <input class="form-control" type="text" name="inputTitle" placeholder="제목을 입력하세요">
                                </div>
                            </div>

                            <div class="separator with-icon"><i class="fa text-default fa-envelope-square"></i></div>

                            <div class="pt-1 pb-1" style="background-color: #09afdf; color: white; border-radius: 5px; display: flex;">

                                <select class="form-control note-custom-toolbar-select" id="fontname-select"></select>

                                <select class="form-control note-custom-toolbar-select" id="fontsize-select">
                                    <option>10</option>
                                    <option>15</option>
                                    <option>20</option>
                                    <option>25</option>
                                    <option>30</option>
                                </select>
                            </div>


                            <div id="summernote" name="inputContents"></div>

                            <br/>

                            <div class="text-right pull-right">
                                <button type="button" id="kakao_send_btn" class="btn _btn_share_kakao btn-default btn-lg margin-clear">카카오톡 전송&nbsp;&nbsp;&nbsp;<img src="/images/kakaolink_btn_very_small_ov.png" class="image" style="display: inline"></button>
                                <button type="button" id="upload_btn" class="btn btn-default btn-lg btn-animated margin-clear">전송&nbsp;&nbsp;<i class="fa fa-envelope-o"></i></button>
                            </div>

                            <br/>
                            <br/>

                        </div>
                    </form>
                </div>


            <!-- main end -->

        </div>
    </div>
</section>

<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<script src="/js/social/kakao/kakao.js"></script>
<script type="text/javascript">

    // 에디터에 등록할 대표 폰트 리스트
    var main_font_list = <%- JSON.stringify(main_font_list) %>;

    // 실제 사용되는 변형 폰트 리스트
    var variation_font_list = <%- JSON.stringify(variation_font_list) %>;

    // 모든 폰트를 font-face에 등록
    register_font_to_font_face(main_font_list);
    register_font_to_font_face(variation_font_list);

    // custom toolbar에 대표 font 등록
    add_font_toolbar(main_font_list);

    // summernote 생성
    var editor = $('#summernote').summernote({
        lang: 'ko-KR',
        placeholder: '당신의 손글씨가 담긴 편지로 마음을 전해보세요',
        tabsize: 2,
        height: 400,
        toolbar : false
    });

    var randomFont = getRandomFont();
    editor.summernote('fontName' , randomFont);

    $("input[name=inputEmail]").focus();


    // summernote.keyup event
    $('#summernote').on('summernote.keyup', function(we, e) {

        // enter
        if (e.keyCode == 13) {
            var randomFont = getRandomFont();
            editor.summernote('fontName' , randomFont);
        }

    });


    // fontname-select.change event
    $('#fontname-select').on('change', function(e) {

        console.log($($(this)[0].selectedOptions).data('value'));
    });



    function register_font_to_font_face(font_list) {
        font_list.forEach(function(font) {
            var font_face = new FontFace(font.font_name, 'url(/api/files/?path=' + font.file_path + ')');

            // 폰트 load
            font_face.load().then(function(loaded_face) {
                // load 된 폰트 추가
                document.fonts.add(loaded_face);
            }).catch(function(error) { });
        });
    }

    function add_font_toolbar(font_list) {

        var fontname_select = $('#fontname-select');

        font_list.forEach(function(font, index) {

            var option = $('<option/>');
            option.attr({ 'data-value': JSON.stringify(font) }).text(font.font_name);
            option.addClass('note-custom-toolbar-select-item');

            fontname_select.append(option);

        });
    }

    function getRandomInt(min, max) {
        min = Math.ceil(min);
        max = Math.floor(max);
        return Math.floor(Math.random() * (max - min + 1)) + min;
    }

    function getRandomFont() {

        var selected_font_list = variation_font_list.slice(0, 3);

        var randomFontIndex = getRandomInt(0 , selected_font_list.length - 1);

        return selected_font_list[randomFontIndex].font_name;
    }

    function get_contents_html(raw_html_str) {

        //console.log("raw", raw_html_str);
        return raw_html_str.replace(/style="/gi, 'style="font-size: 20pt; ');
        //console.log("raw 2", raw_html_str);
        //console.log("raw 3", str);
    }






    var is_sendable_state = {
        email: false,
    };

    function getSendableState(){
        var state = true;
        for (var item in is_sendable_state){
            if (is_sendable_state[item] == false) state = false;
        }
        return state;
    }

    function getMessageFormData() {

        var formData = {}
        formData.email = $("input[name=inputEmail]").val()
        formData.title = $("input[name=inputTitle]").val()
        formData.contents_html = get_contents_html($("div#summernote").summernote('code'));
        formData.contents = $($("#summernote").summernote("code")).text();

        // TODO
        formData.font_id = 1;

        return formData;
    }

    // 업로드 버튼 - click event
    $(document).on('click', '#upload_btn', function() {

        if (getSendableState()){

            var formData = getMessageFormData();
            var MESSAGE_POST_UPLOAD_URL = '/api/message';

            function fn_success(sonmat_req_id) {
                alert("편지 전송이 완료되었습니다");
                window.location.href = "/message/to/" + sonmat_req_id;
            }

            AjaxUtils.postResult(MESSAGE_POST_UPLOAD_URL, formData, fn_success);
        } else {
            if (is_sendable_state.email == false)  $('#email-feedback').css('display', '');
        }
    });

    $(document).on('focusout', 'input[name=inputEmail]', function() {

        var formData = {}
        formData.email = $("input[name=inputEmail]").val()
        var CHECK_EMAIL_URL = '/api/message/check_email';

        function fn_success(user) {
            if (user.name == null){
                // user = {}
                is_sendable_state.email = false;
                $("input[name=inputEmail]").attr('class', 'form-control is-invalid');
            }else{
                // user = { id, name, .... }
                is_sendable_state.email = true;
                $("input[name=inputEmail]").attr('class', 'form-control is-valid');
            }
        }
        AjaxUtils.postResult(CHECK_EMAIL_URL, formData, fn_success);

    });


    /* 카카오톡으로 전송하기 */

    // 카카오톡 전송 버튼 - click event
    $(document).on('click', '#kakao_send_btn', function() {

        var formData = getMessageFormData();
        var MESSAGE_KAKAO_POST_UPLOAD_URL = '/api/message/share';

        function fn_success(response) {
            
            var kakaoShare = new KakaoShare();

            function initShareKakao() {
                var container = '._btn_share_kakao';
                var title = response.user_name + ' 님이 보낸 메세지 입니다.';
                var image = 'http://son-mat.com/images/share_logo.png';
                var link = response.url;
                var message = "손맛에서 확인해보세요";
                kakaoShare.share(container , title, image, message , link);
            }

            initShareKakao();

            //window.location.href = "/message/to/" + sonmat_req_id;
        }

        AjaxUtils.postResult(MESSAGE_KAKAO_POST_UPLOAD_URL, formData, fn_success);
    });

</script>