<body class=" ">

    <div class="page-wrapper">

        <!-- banner start -->
        <!-- ================ -->
        <div class="banner clearfix">

            <!-- slideshow start -->
            <!-- ================ -->
            <div class="slideshow">

                <!-- slider revolution start -->
                <!-- ================ -->
                <div class="slider-revolution-5-container">
                    <div id="slider-banner-fullwidth-hero" class="slider-banner-fullwidth-hero rev_slider" data-version="5.0">
                        <ul class="slides">
                            <!-- slide 1 start -->
                            <!-- ================ -->
                            <li class="text-right" data-transition="crossfade" data-slotamount="default" data-masterspeed="default" data-title="Boost your online presence">

                                <!-- main image -->
                                <img src="/videos/video-banner-poster.jpg" alt="slidebg1" data-bgposition="center center"  data-bgrepeat="no-repeat" data-bgfit="cover" class="rev-slidebg">

                                <!-- Transparent Background -->
                                <div class="tp-caption dark-translucent-bg"
                                     data-x="center"
                                     data-y="center"
                                     data-start="0"
                                     data-transform_in="opacity:0;s:600;e:Power2.easeInOut;"
                                     data-transform_out="opacity:0;s:600;s:300;"
                                     data-width="5000"
                                     data-height="5000">
                                </div>

                                <!-- Video Background -->
                                <div class="rs-background-video-layer"
                                     data-forcerewind="on"
                                     data-volume="mute"
                                     data-videowidth="100%"
                                     data-videoheight="100%"

                                     data-videopreload="preload"
                                     data-videoloop="loop"
                                     data-aspectratio="16:9"
                                     data-autoplay="true"
                                     data-autoplayonlyfirsttime="false"
                                     data-nextslideatend="false">
                                </div>
                                <!--data-videomp4="/videos/background-video-banner.mp4"-->

                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption large_white"
                                     data-x="right"
                                     data-y="150"
                                     data-start="1000"
                                     data-transform_idle="o:1;"
                                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1100;e:Power4.easeInOut;"
                                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                     data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                                    <span class="logo-font">손맛나는 편지</span><br/>손편지함 입니다
                                </div>

                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption large_white tp-resizeme"
                                     data-x="right"
                                     data-y="270"
                                     data-start="1100"
                                     data-transform_idle="o:1;"
                                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1100;e:Power4.easeInOut;"
                                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;">
                                    <div class="separator-3 light"></div>
                                </div>

                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption medium_white"
                                     data-x="right"
                                     data-y="290"
                                     data-start="1100"
                                     data-transform_idle="o:1;"
                                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1100;e:Power4.easeInOut;"
                                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                     data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">보고싶은 대화내역을 고르거나 <br/> 새로운 편지를 작성하세요
                                </div>

                                <!-- LAYER NR. 4 -->
                                <div class="tp-caption small_white"
                                     data-x="right"
                                     data-y="380"
                                     data-start="1200"
                                     data-transform_idle="o:1;"
                                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1100;e:Power4.easeInOut;"
                                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                     data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                                    <a href="page-contact.html" class="btn btn-default btn-animated margin-clear">편지 작성&nbsp;<i class="fa fa-envelope"></i></a>
                                </div>

                            </li>
                            <!-- slide 1 end -->

                        </ul>
                        <div class="tp-bannertimer"></div>
                    </div>
                </div>
                <!-- slider revolution end -->

            </div>
            <!-- slideshow end -->

        </div>
        <!-- banner end -->

    </div>

</body>

<script>
    $('.style-switcher').removeClass('closed');
    $('.style-switcher').addClass('opened');
</script>