<div id="page-start"></div>

    <!-- main-container start -->
    <!-- ================ -->
    <section class="main-container">

        <div class="container">
            <div class="row">

                <!-- main start -->
                <!-- ================ -->
                <div class="main col-lg-9 order-lg-2 ml-xl-auto">

                    <!-- section start -->
                    <!-- ================ -->
                    <section class="section clearfix">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="call-to-action p-20 light-gray-bg hc-shadow bordered" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                                        <div class="row justify-content-md-center">

                                            <div class="row col-lg-10">
                                                <div class="col-lg-9">
                                                    <h2 class="title row">손글씨 이미지 선택</h2>
                                                    <div class="row">
                                                        <p>손글씨 이미지를 선택해주세요</p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 pull-right">
                                                    <btn id="image_upload_btn" class="btn btn-default btn-lg btn-animated margin-clear">업로드&nbsp;&nbsp;<i class="fa fa-arrow-circle-o-up fa-2x"></i></btn>
                                                </div>
                                            </div>

                                            <div class="separator"></div>
                                            <div class="col-lg-10">
                                                <form id="form-group-file" class="form-group form-inline margin-clear d-flex">
                                                    <input type="file" id="input-file" name="img[]" class="file" style="visibility: hidden; position: absolute;">
                                                    <input type="text" id="form-control-file" class="form-control col-lg-10" placeholder="파일을 선택해주세요" disabled style="background-color: whitesmoke; color: black;">
                                                    <button id="button-browse" class="browse btn btn-dark margin-clear col-lg-2" type="button">열기</button>
                                                </form>
                                            </div>
                                            <input type="text" style="visibility: hidden;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- section end -->

                </div>
                <!-- main end -->

                <!-- sidebar start -->
                <!-- ================ -->
                <aside class="col-lg-2 col-xl-3 order-lg-1">
                    <div class="sidebar">
                        <div class="block clearfix">
                            <h3 class="title">내 손글씨 폰트 만들기</h3>
                            <h3>&nbsp;</h3>

                            <div class="separator-2"></div>
                            <nav>
                                <ul class="nav flex-column">
                                    <div class="hc-item-box-2 hc-element-invisible" data-animation-effect="fadeInLeftSmall" style="animation-delay: 0.1s; vertical-align: middle">
                                        <span class="icon dark-bg small">1</span>
                                        <div class="body">
                                            <h5 class="title">손글씨 쓰기</h5>
                                        </div>
                                    </div>
                                    <div class="separator-2"></div>
                                    <div class="hc-item-box-2 hc-element-invisible" data-animation-effect="fadeInLeftSmall" style="animation-delay: 0.3s">
                                        <span class="icon dark-bg small">2</span>
                                        <div class="body">
                                            <h5 class="title">에버노트 연동 확인</h5>
                                        </div>
                                    </div>
                                    <div class="separator-2"></div>
                                    <div class="hc-item-box-2 hc-element-invisible" data-animation-effect="fadeInLeftSmall" style="animation-delay: 0.5s">
                                        <span class="icon default-bg small">3</span>
                                        <div class="body">
                                            <h5 class="title">손글씨 이미지 선택</h5>
                                        </div>
                                    </div>
                                    <div class="separator-2"></div>
                                    <div class="hc-item-box-2 hc-element-invisible" data-animation-effect="fadeInLeftSmall" style="animation-delay: 0.7s">
                                        <span class="icon dark-bg small">4</span>
                                        <div class="body">
                                            <h5 class="title">제작 시작</h5>
                                        </div>
                                    </div>
                                    <div class="separator-2"></div>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </aside>
                <!-- sidebar end -->

            </div>
        </div>
    </section>
    <!-- main-container end -->

    <script>

        // 열기 버튼 - click event
        $(document).on('click', '#button-browse', function(){
            $('#input-file').trigger('click');
        });

        // 파일 경로 input - change event
        $(document).on('change', '#input-file', function(){
            $('#form-control-file').val($(this).val().replace(/C:\\fakepath\\/i, ''));
        });

        // 업로드 버튼 - click event
        $(document).on('click', '#image_upload_btn', function() {

            var form = $('#form-group-file');
            var formData = new FormData(form);
            var file = $('#input-file')[0].files[0];

            if(file == undefined) {
                alert('업로드할 파일을 선택하세요.');
                return false;
            }

            formData.append("file", file);

            var FILE_UPLOAD_API_URL = '/api/files/upload';
            var FONT_CREATE_API_URL = '/api/font/';

            $.ajax({  // file 형식이라 AjaxUtils의 post는 사용 불가
                url : FILE_UPLOAD_API_URL,
                processData: false,
                contentType: false,
                data: formData,
                type: 'POST'
            }).done( function(res) {

                var body = {};
                body.file_path = res.path;

                AjaxUtils.post(FONT_CREATE_API_URL, body, function(res) {
                    window.location.href = "/handwrite/making";
                });
            });
        });
    </script>
