<div id="page-start"></div>

    <!-- main-container start -->
    <!-- ================ -->
    <section class="main-container">

        <div class="container">
            <div class="row justify-content-lg-center">

                <!-- main start -->
                <!-- ================ -->
                <div class="main col-lg-9 order-lg-2 pv-40 ml-xl-auto fixed-bg border-clear text-center margin-clear hc-element-invisible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                    <h1 class="page-title large"><span class="text-default font-weight-bold">폰트 제작 중 입니다</span></h1>
                    <h3 class="mt-4">
                        선택한 손글씨 사진으로 내 손맛나는 글씨를 만들고 있습니다. <br>
                        제작되는 동안 다른 사람들이 올린 다양한 손글씨를 보러 가볼까요?
                    </h3>
                    <a href="/font" class="btn btn-default btn-animated btn-lg">Go<i class="fa fa-arrow-right"></i></a>
                </div>
                <!-- main end -->

                <!-- sidebar start -->
                <!-- ================ -->
                <aside class="col-lg-2 col-xl-3 order-lg-1">
                    <div class="sidebar">
                        <div class="block clearfix">
                            <h3 class="title">내 손글씨 폰트 만들기</h3>
                            <h3>&nbsp;</h3>

                            <div class="separator-2"></div>
                            <nav>
                                <ul class="nav flex-column">
                                    <div class="hc-item-box-2 hc-element-invisible" data-animation-effect="fadeInLeftSmall" style="animation-delay: 0.1s; vertical-align: middle">
                                        <a href="/handwrite"><span class="icon dark-bg small">1</span></a>
                                        <div class="body">
                                            <h5 class="title">손글씨 쓰기</h5>
                                        </div>
                                    </div>
                                    <div class="separator-2"></div>
                                    <div class="hc-item-box-2 hc-element-invisible" data-animation-effect="fadeInLeftSmall" style="animation-delay: 0.5s">
                                        <a href="/handwrite/form"><span class="icon dark-bg small">2</span></a>
                                        <div class="body">
                                            <h5 class="title">손글씨 이미지 선택</h5>
                                        </div>
                                    </div>
                                    <div class="separator-2"></div>
                                    <div class="hc-item-box-2 hc-element-invisible" data-animation-effect="fadeInLeftSmall" style="animation-delay: 0.7s">
                                        <span class="icon default-bg small">3</span>
                                        <div class="body">
                                            <h5 class="title">제작 시작</h5>
                                        </div>
                                    </div>
                                    <div class="separator-2"></div>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </aside>
                <!-- sidebar end -->

            </div>
        </div>
    </section>
    <!-- main-container end -->