<div id="page-start"></div>

    <!-- main-container start -->
    <!-- ================ -->
    <section class="main-container">

        <div class="container">
            <div class="row">

                <!-- main start -->
                <!-- ================ -->
                <div class="main col-lg-8 order-lg-2 ml-xl-auto">

                    <!-- page-title start -->
                    <!-- ================ -->
                    <h1 class="page-title">손글씨를 작성하세요</h1>
                    <div class="separator-2"></div>
                    <!-- page-title end -->
    
                    <!-- blogpost start -->
                    <article class="blogpost">
                    <div class="row grid-space-10">
                        <div class="col-lg-6">
                        <div id="carousel-blog-post" class="carousel slide" data-ride="carousel">
                               
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <div class="overlay-container">
                                <img src="images/guide_paper_line.png" alt="" style="width:1140px;">
                                <!-- src="/images/guide_paper_line.png" -->
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                        <div class="col-lg-6">
                        <header>
                            <h2>손글씨</h2>
                            
                        </header>
                        <div class="blogpost-content">
                            <p>가이드라인에 맞춰 손글씨를 작성하세요</p>
                        </div>
                        </div>
                    </div>
                    <footer class="clearfix">
                        <div class="col-lg-3 pull-right">
                            <btn id="next_btn" class="btn btn-default btn-lg btn-animated margin-clear">다음&nbsp;&nbsp;<i class="fa fa-arrow-circle-o-right fa-2x"></i></btn>
                        </div>
                    </footer>
                    </article>
                    <!-- blogpost end -->
                </div>
                <!-- main end -->
                
                <!-- sidebar start -->
                <!-- ================ -->
                <aside class="col-lg-2 col-xl-3 order-lg-1">
                    <div class="sidebar">
                        <div class="block clearfix">

                            <h3>&nbsp;</h3>

                            <div class="separator-2"></div>
                            <nav>
                                <ul class="nav flex-column">
                                    <div class="hc-item-box-2 hc-element-invisible" data-animation-effect="fadeInLeftSmall" style="animation-delay: 0.1s; vertical-align: middle">
                                        <span class="icon default-bg small">1</span>
                                        <div class="body">
                                            <h5 class="title">손글씨 쓰기</h5>
                                        </div>
                                    </div>
                                    <div class="separator-2"></div>
                                    <div class="hc-item-box-2 hc-element-invisible" data-animation-effect="fadeInLeftSmall" style="animation-delay: 0.3s">
                                        <span class="icon dark-bg small">2</span>
                                        <div class="body">
                                            <h5 class="title">사진 찍기</h5>
                                        </div>
                                    </div>
                                    <div class="separator-2"></div>
                                    <div class="hc-item-box-2 hc-element-invisible" data-animation-effect="fadeInLeftSmall" style="animation-delay: 0.5s">
                                        <span class="icon dark-bg small">3</span>
                                        <div class="body">
                                            <h5 class="title">손글씨 이미지 선택</h5>
                                        </div>
                                    </div>
                                    <div class="separator-2"></div>
                                    <div class="hc-item-box-2 hc-element-invisible" data-animation-effect="fadeInLeftSmall" style="animation-delay: 0.7s">
                                        <span class="icon dark-bg small">4</span>
                                        <div class="body">
                                            <h5 class="title">제작 시작</h5>
                                        </div>
                                    </div>
                                    <div class="separator-2"></div>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </aside>
                <!-- sidebar end -->

            </div>
        </div>
    </section>
    <!-- main-container end -->



    <script>
        $(document).on('click', '#next_btn', function() {
            window.location.href = "/handwrite/form";
        });
    </script>