<div id="page-start"></div>

    <!-- main-container start -->
    <!-- ================ -->
    <section class="main-container">

        <div class="container">
            <div class="row">

                <!-- main start -->
                <!-- ================ -->
                <div class="main col-lg-9 order-lg-2 ml-xl-auto">

                    <!-- section start -->
                    <!-- ================ -->
                    <section class="section clearfix">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="call-to-action p-20 light-gray-bg hc-shadow bordered" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                                        <div class="row justify-content-md-center">
                                            <div class="row col-lg-10">
                                                <div class="col-lg-12">
                                                    <h2 class="page-title">손글씨 쓰기
                                                        <div class="pull-right">
                                                            <btn id="next_btn" class="btn btn-default btn-md btn-animated margin-clear">다음&nbsp;&nbsp;<i class="fa fa-arrow-circle-o-right fa-2x"></i></btn>
                                                        </div>
                                                    </h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="separator-2"></div>
                                        <!-- page-title end -->
                        
                                        <div class="mt-4 pv-30 ph-20 hc-item-box bordered hc-shadow text-center hc-element-invisible animated hc-element-visible fadeInDownSmall">
                                            <!-- blogpost start -->
                                            <article class="blogpost">
                                                <div class="row grid-space-10">
                                                    <div class="col-lg-6">
                                                        <div id="carousel-blog-post" class="carousel slide" data-ride="carousel">
                                                            
                                                            <!-- Wrapper for slides -->
                                                            <div class="carousel-inner" role="listbox">
                                                                <div class="carousel-item active">
                                                                    <div class="overlay-container">
                                                                        <img src="images/guide-writing.png" alt="">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <header>
                                                        </header>
                                                        <div class="blogpost-content">
                                                            </br><h4>자신의 손글씨를 폰트로 만들어보세요</h4></br></br>
                                                            <p>1. 첨부된 가이드 종이를 <strong>다운로드</strong>합니다.</p>
                                                            <div class="text-center"><a class="btn btn-animated btn-sm btn-gray-transparent" href="/api/message/download_paper">가이드 종이 다운로드<i class="fa fa-download fa-1x"></i></a></div></br>
                                                            <p>2. 프린트한 종이에 왼쪽 예제와 같이 </br><strong>&nbsp;&nbsp;&nbsp;&nbsp;"다람쥐 헌 쳇바퀴에 타고파"</strong> 라고 적습니다.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                            <!-- blogpost end -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                
                <!-- sidebar start -->
                <!-- ================ -->
                <aside class="col-lg-2 col-xl-3 order-lg-1">
                    <div class="sidebar">
                        <div class="block clearfix">

                            <h3>&nbsp;</h3>

                            <div class="separator-2"></div>
                            <nav>
                                <ul class="nav flex-column">
                                    <div class="hc-item-box-2 hc-element-invisible" data-animation-effect="fadeInLeftSmall" style="animation-delay: 0.1s; vertical-align: middle">
                                        <a href="/handwrite"><span class="icon default-bg small">1</span></a>
                                        <div class="body">
                                            <h5 class="title">손글씨 쓰기</h5>
                                        </div>
                                    </div>
                                    <div class="separator-2"></div>
                                    <div class="hc-item-box-2 hc-element-invisible" data-animation-effect="fadeInLeftSmall" style="animation-delay: 0.3s">
                                        <a href="/handwrite/taking_picture"><span class="icon dark-bg small">2</span></a>
                                        <div class="body">
                                            <h5 class="title">사진 찍기</h5>
                                        </div>
                                    </div>
                                    <div class="separator-2"></div>
                                    <div class="hc-item-box-2 hc-element-invisible" data-animation-effect="fadeInLeftSmall" style="animation-delay: 0.5s">
                                        <a href="/handwrite/form"><span class="icon dark-bg small">3</span></a>
                                        <div class="body">
                                            <h5 class="title">손글씨 이미지 선택</h5>
                                        </div>
                                    </div>
                                    <div class="separator-2"></div>
                                    <div class="hc-item-box-2 hc-element-invisible" data-animation-effect="fadeInLeftSmall" style="animation-delay: 0.7s">
                                        <span class="icon dark-bg small">4</span>
                                        <div class="body">
                                            <h5 class="title">제작 시작</h5>
                                        </div>
                                    </div>
                                    <div class="separator-2"></div>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </aside>
                <!-- sidebar end -->

            </div>
        </div>
    </section>
    <!-- main-container end -->



    <script>
        $(document).on('click', '#next_btn', function() {
            window.location.href = "/handwrite/taking_picture";
        });
    </script>