<%- include('./partials/head') -%>
    <body class=" ">

        <!-- scrollToTop -->
        <!-- ================ -->
        <div class="scrollToTop circle"><i class="fa fa-angle-up"></i></div>

        <!-- page wrapper start -->
        <!-- ================ -->
        <div class="page-wrapper">

            <!-- main-container start -->
            <!-- ================ -->
            <section class="main-container">

                <div class="container">
                    <div class="row justify-content-lg-center">

                        <!-- main start -->
                        <!-- ================ -->
                        <div class="main col-lg-9 order-lg-2 pv-40 ml-xl-auto fixed-bg border-clear text-center margin-clear" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                            <h1 class="page-title large"><span class="text-default font-weight-bold">폰트 제작 중 입니다</span></h1>
                            <h3 class="mt-4">
                                선택한 손글씨 사진으로 내 손맛나는 글씨를 만들고 있습니다. <br>
                                제작되는 동안 다른 사람들이 올린 다양한 손글씨를 보러 가볼까요?
                            </h3>
                            <a href="index.html" class="btn btn-default btn-animated btn-lg">Go<i class="fa fa-arrow-right"></i></a>
                        </div>
                        <!-- main end -->

                        <!-- sidebar start -->
                        <!-- ================ -->
                        <aside class="col-lg-2 col-xl-3 order-lg-1">
                            <div class="sidebar">
                                <div class="block clearfix">
                                    <h3 class="title">내 손글씨 폰트 만들기</h3>
                                    <h3>&nbsp;</h3>

                                    <div class="separator-2"></div>
                                    <nav>
                                        <ul class="nav flex-column">
                                            <div class="hc-item-box-2 hc-element-invisible" data-animation-effect="fadeInLeftSmall" style="animation-delay: 0.1s; vertical-align: middle">
                                                <span class="icon dark-bg small">1</span>
                                                <div class="body">
                                                    <h5 class="title" style="vertical-align:middle;">손글씨 쓰기</h5>
                                                </div>
                                            </div>
                                            <div class="separator-2"></div>
                                            <div class="hc-item-box-2 hc-element-invisible" data-animation-effect="fadeInLeftSmall" style="animation-delay: 0.3s">
                                                <span class="icon dark-bg small">2</span>
                                                <div class="body">
                                                    <h5 class="title">에버노트 연동 확인</h5>
                                                </div>
                                            </div>
                                            <div class="separator-2"></div>
                                            <div class="hc-item-box-2 hc-element-invisible" data-animation-effect="fadeInLeftSmall" style="animation-delay: 0.5s">
                                                <span class="icon dark-bg small">3</span>
                                                <div class="body">
                                                    <h5 class="title">손글씨 이미지 선택</h5>
                                                </div>
                                            </div>
                                            <div class="separator-2"></div>
                                            <div class="hc-item-box-2 hc-element-invisible" data-animation-effect="fadeInLeftSmall" style="animation-delay: 0.7s">
                                                <span class="icon default-bg small">4</span>
                                                <div class="body">
                                                    <h5 class="title">제작 시작</h5>
                                                </div>
                                            </div>
                                            <div class="separator-2"></div>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </aside>
                        <!-- sidebar end -->

                    </div>
                </div>
            </section>
            <!-- main-container end -->

        </div>
        <!-- page-wrapper end -->

        <!-- JavaScript files placed at the end of the document so the pages load faster -->
        <!-- ================================================== -->
        <!-- Jquery and Bootstap core js files -->
        <script src="plugins/jquery.min.js"></script>
        <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Magnific Popup javascript -->
        <script src="plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
        <!-- Appear javascript -->
        <script src="plugins/waypoints/jquery.waypoints.min.js"></script>
        <script src="plugins/waypoints/sticky.min.js"></script>
        <!-- Count To javascript -->
        <script src="plugins/countTo/jquery.countTo.js"></script>
        <!-- Slick carousel javascript -->
        <script src="plugins/slick/slick.min.js"></script>
        <!-- Initialization of Plugins -->
        <script src="js/template.js"></script>
        <!-- Custom Scripts -->
        <script src="js/custom.js"></script>

    </body>
<%- include('./partials/foot') -%>