<%- include('./partials/head') -%>
    <body class=" ">

        <!-- scrollToTop -->
        <!-- ================ -->
        <div class="scrollToTop circle"><i class="fa fa-angle-up"></i></div>

        <!-- page wrapper start -->
        <!-- ================ -->
        <div class="page-wrapper">

            <!-- main-container start -->
            <!-- ================ -->
            <section class="main-container">

                <div class="container">
                    <div class="row">

                        <!-- main start -->
                        <!-- ================ -->
                        <div class="main col-lg-9 order-lg-2 ml-xl-auto">

                            <!-- section start -->
                            <!-- ================ -->
                            <section class="section clearfix">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="call-to-action p-20 light-gray-bg hc-shadow bordered" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                                                <div class="row justify-content-md-center">

                                                    <div class="row col-lg-10">
                                                        <div class="col-lg-9">
                                                            <h2 class="title row">손글씨 이미지 선택</h2>
                                                            <div class="row">
                                                                <p>손글씨 이미지를 선택해주세요</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 pull-right">
                                                            <button id="image_upload_btn" class="btn btn-default btn-lg btn-animated margin-clear">업로드&nbsp;&nbsp;<i class="fa fa-arrow-circle-o-up fa-2x"></i></button>
                                                        </div>
                                                    </div>

                                                    <div class="separator"></div>
                                                    <div class="col-lg-10">
                                                        <form class="form-group form-inline margin-clear d-flex">
                                                            <input type="file" name="img[]" class="file" style="visibility: hidden; position: absolute;">
                                                            <input type="text" class="form-control col-lg-10" placeholder="파일을 선택해주세요" disabled style="background-color: whitesmoke; color: black;">
                                                            <button class="browse btn btn-dark margin-clear col-lg-2" type="button">열기</button>
                                                        </form>
                                                    </div>
                                                    <input type="text" style="visibility: hidden;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!-- section end -->

                        </div>
                        <!-- main end -->

                        <!-- sidebar start -->
                        <!-- ================ -->
                        <aside class="col-lg-2 col-xl-3 order-lg-1">
                            <div class="sidebar">
                                <div class="block clearfix">
                                    <h3 class="title">내 손글씨 폰트 만들기</h3>
                                    <h3>&nbsp;</h3>

                                    <div class="separator-2"></div>
                                    <nav>
                                        <ul class="nav flex-column">
                                            <div class="hc-item-box-2 hc-element-invisible" data-animation-effect="fadeInLeftSmall" style="animation-delay: 0.1s; vertical-align: middle">
                                                <span class="icon dark-bg small">1</span>
                                                <div class="body">
                                                    <h5 class="title" style="vertical-align:middle;">손글씨 쓰기</h5>
                                                </div>
                                            </div>
                                            <div class="separator-2"></div>
                                            <div class="hc-item-box-2 hc-element-invisible" data-animation-effect="fadeInLeftSmall" style="animation-delay: 0.3s">
                                                <span class="icon dark-bg small">2</span>
                                                <div class="body">
                                                    <h5 class="title">에버노트 연동 확인</h5>
                                                </div>
                                            </div>
                                            <div class="separator-2"></div>
                                            <div class="hc-item-box-2 hc-element-invisible" data-animation-effect="fadeInLeftSmall" style="animation-delay: 0.5s">
                                                <span class="icon default-bg small">3</span>
                                                <div class="body">
                                                    <h5 class="title">손글씨 이미지 선택</h5>
                                                </div>
                                            </div>
                                            <div class="separator-2"></div>
                                            <div class="hc-item-box-2 hc-element-invisible" data-animation-effect="fadeInLeftSmall" style="animation-delay: 0.7s">
                                                <span class="icon dark-bg small">4</span>
                                                <div class="body">
                                                    <h5 class="title">제작 시작</h5>
                                                </div>
                                            </div>
                                            <div class="separator-2"></div>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </aside>
                        <!-- sidebar end -->

                    </div>
                </div>
            </section>
            <!-- main-container end -->

        </div>
        <!-- page-wrapper end -->

        <!-- JavaScript files placed at the end of the document so the pages load faster -->
        <!-- ================================================== -->
        <!-- Jquery and Bootstap core js files -->
        <script src="/plugins/jquery.min.js"></script>
        <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Magnific Popup javascript -->
        <script src="/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
        <!-- Appear javascript -->
        <script src="/plugins/waypoints/jquery.waypoints.min.js"></script>
        <script src="/plugins/waypoints/sticky.min.js"></script>
        <!-- Count To javascript -->
        <script src="/plugins/countTo/jquery.countTo.js"></script>
        <!-- Slick carousel javascript -->
        <script src="/plugins/slick/slick.min.js"></script>
        <!-- Initialization of Plugins -->
        <script src="/js/template.js"></script>
        <!-- Custom Scripts -->
        <script src="/js/custom.js"></script>

        <script>

            $(document).on('click', '.browse', function(){
                var file = $(this).parent().find('.file');
                file.trigger('click');
            });
            $(document).on('change', '.file', function(){
                $(this).parent().find('.form-control').val($(this).val().replace(/C:\\fakepath\\/i, ''));
            });

            $(document).on('click', '#image_upload_btn', function() {

                var form = $(this).parent().parent().parent().find('.form-group');
                var formData = new FormData(form);

                var file = $(form).find('.file');
                formData.append("file", file[0].files[0]);
                //formData.append("body", );

                $.ajax({
                    url : '/handwrite/file',
                    processData: false,
                    contentType: false,
                    data: formData,
                    type: 'POST'
                });
            });
        </script>

    </body>
<%- include('./partials/foot') -%>