<%- include('./partials/head') -%>
	<body>
		<div class="container">
			<div class="alert alert-primary" role="alert">
			  <a href="/letter/read" class="alert-link">업로드</a>
			</div>
			<div class="alert alert-primary" role="alert">
			  <a href="#" class="alert-link">편지함</a>
			</div>
			<div class="alert alert-primary" role="alert">
			  <a href="#" class="alert-link">편지 작성</a>
			</div>

		</div>
	</body>
<%- include('./partials/foot') -%>
