<section class="main-container">

    <div class="container">
        <div class="row">

        <!-- main start -->
        <!-- ================ -->
        <div class="main col-lg-8">

            <!-- page-title start -->
            <!-- ================ -->
            <h1 class="page-title">폰트명</h1>
            <div class="separator-2"></div>
            <!-- page-title end -->

            <!-- blogpost start -->
            <article class="blogpost">
            <div id="carousel-blog-post" class="carousel slide" data-ride="carousel">

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="overlay-container h2">
                    <p>내가 그린 기린 그림은 긴 기린 그림이냐, <br>그냥 그린 기린 그림이냐?</p>
                    </div>
                </div>
                </div>
            </div>
            <header>
                <div class="post-info">
                <span class="post-date">
                    <i class="fa fa-calendar-o pr-1"></i>
                    <span class="day">12</span>
                    <span class="month">May 2017</span>
                </span>
                <span class="submitted"><i class="fa fa-user pr-1 pl-1"></i> by <a href="#">Lorem</a></span>
                <span class="comments"><i class="fa fa-comments-o pl-1 pr-1"></i> <a href="#">22 comments</a></span>
                </div>
            </header>
            <div class="blogpost-content">
                <p>설명</p>
            </div>
            </article>
            <!-- blogpost end -->
            
        </div>
        <!-- main end -->
        <!-- sidebar start -->
        <!-- ================ -->
        <aside class="col-lg-4 col-xl-3 ml-xl-auto">
            <div class="sidebar">
                <div class="block clearfix">
                    <h3 class="title">Setting</h3>
                    <div class="separator-2"></div>
                    <ul class="list margin-clear">
                        <p class="mt-3"><a href="#" class="btn btn-animated btn-lg btn-gray-transparent">폰트명 수정하기<i class="fa fa-wrench pl-20"></i></a></p>
                        <p class="mt-3"><a href="#" class="btn btn-animated btn-lg btn-gray-transparent">설명 수정하기<i class="fa fa-wrench pl-20"></i></a></p>
                        <p class="mt-3"><a href="#" class="btn btn-animated btn-lg btn-gray-transparent">follow<i class="fa fa-heart pl-20"></i></a></p> <!--fa fa-heart-o : 빈하트-->
                    </ul>
                </div>
            </div>
        </aside>
        <!-- sidebar end -->
        
    </div>
    </section>
    <!-- main-container end --> 