
<div id="page-start"></div>

<section class="main-container">

    <div class="container">
        <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-12">

                <!-- page-title start -->
                <!-- ================ -->

                <br>
                <br>
                <h3>내 손글씨체</h3>
                <div class="separator"></div>
                  <div class="row">
                    <div class="row">
                      <% font.forEach(function(font){ %>
                        <div class="col-sm-4">
                          <div class="style-2 mb-50 hc-shadow bordered light-gray-bg text-center">
                            <div class="main-container h3">
                              <p>다람쥐 헌 쳇바퀴에 타고파</p>
                            </div>
                            <div class="body">
                              <h4>폰트명 : <%= font.name %></h4>
                              <div class="separator"></div>
                                <div class="text-center space-bottom">
                                  <span>
                                    <i class="fa fa-calendar-o pr-1"></i>
                                    <span class="day">제작일 : <%= font.making_date %></span>
                                  </span>
                                </div>
                              <p><%= font.description %></p>
                              <a href="/font/<%= font.id %>" class="btn btn-default btn-sm margin-clear">Read More<i class="fa fa-arrow-right pl-10"></i></a>                       
                            </div>
                          </div>
                        </div>
                      <% }); %>
                    </div>
                  </div>
                <!-- section end -->
                </div>
                <!-- page-title end -->
            </div>
            <!-- main end -->

        </div>
    </div>
</section>

<script type="text/javascript">

    function checkedNewFontToServer() {
        AjaxUtils.post("/api/font/new/checked" , null , function () {
            hideNewBadges();
        });
    };

    checkedNewFontToServer();

</script>