
<div id="page-start"></div>

<section class="main-container">

    <div class="container">
        <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-12">

              <!-- page-title start -->
              <!-- ================ -->

              <br>
              <br>
              <h1>내 손글씨체</h1>
              <div class="separator"></div>
                <!-- masonry grid start -->
                <!-- ================ -->
                <div class="masonry-grid row">
                    <!-- masonry grid item start -->
                    <% font.forEach(function(font){ %>
                      <div class="masonry-grid-item col-md-6 col-lg-4" onclick="location.href='font/<%=font.id %>'">
                          <!-- blogpost start -->

                          <article class="blogpost hc-shadow-2 light-gray-bg bordered">
                              <div id="carousel-blog-post" class="carousel slide" data-ride="carousel">

                                  <!-- Wrapper for slides -->
                                  <div class="carousel-inner" role="listbox">
                                      <div class="carousel-item active text-center mt-20">
                                        <% if(font.read_state=="unread") { %>
                                          <div class="text-right js-new-badge mr-2" data-id="1">
                                              <span class="badge badge-pill badge-danger">New</span>
                                          </div>
                                        <% } %>
                                          <h2>다람쥐 헌 쳇바퀴에 타고파</h2>
                                      </div>
                                  </div>
                              </div>
                              <header>
                                  <div class="post-info text-right mb-2">
                                      <span class="post-date">
                                        <i class="fa fa-calendar-o pr-1"></i>
                                        <span class="day"><%= font.making_date %></span>
                                      </span>
                                      <span class="comments"><i class="fa fa-comments-o pl-1 pr-1"></i> <a href="#">22 comments</a></span>
                                  </div>
                                  <h5><%= font.name %></h5>
                              </header>
                              <div class="blogpost-content">
                                  <p><%= font.description %></p>
                              </div>
                              <footer class="clearfix">
                              </footer>
                          </article>
                          <!-- blogpost end -->
                      </div>
                      <!-- masonry grid item end -->
                    <% }); %>
                    
                <!-- section end -->
                </div>
                <!-- page-title end -->
            </div>
            <!-- main end -->

        </div>
    </div>
</section>

<script type="text/javascript">

    function checkedNewFontToServer() {
        AjaxUtils.post("/api/font/new/checked" , null , function () {
            hideNewBadges();
        });
    };

    checkedNewFontToServer();

</script>