
<div id="page-start"></div>

<section class="main-container">

    <div class="container">
        <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-12">

                <!-- page-title start -->
                <!-- ================ -->

                <br>
                <br>
                <h3>새로 만들어진 폰트</h3>
                <div class="separator"></div>
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <article class="blogpost hc-shadow-2 light-gray-bg bordered hc-element-invisible" data-animation-effect="fadeInUpSmall" data-effect-delay="100">
                            <div class="overlay-container">
                                <img src="/images/thumbnail.png" alt="">
                                <!--<a class="overlay-link" href="/font/form"><i class="fa fa-link"></i></a>-->
                            </div>
                        </article>
                    </div>
                </div>
                <!-- page-title end -->

                <!-- masonry grid start -->
                <!-- ================ -->

                <h3>2018-11-20 일에 생성한 폰트</h3>
                <div class="separator"></div>

                <div class="masonry-grid row">
                    <!-- masonry grid item start -->
                    <div class="masonry-grid-item col-md-6 col-lg-4">
                        <!-- blogpost start -->
                        <article class="blogpost hc-shadow-2 light-gray-bg bordered hc-element-invisible" data-animation-effect="fadeInUpSmall" data-effect-delay="100">
                            <header>
                                <h2></h2>
                                <!--<div class="post-info">
                                    <span class="post-date">
                                      <i class="fa fa-calendar-o pr-1"></i>
                                      <span class="day">09</span>
                                      <span class="month">May 2017</span>
                                    </span>
                                    <span class="submitted"><i class="fa fa-user pr-1 pl-1"></i> by <a href="#">Lorem</a></span>
                                    <span class="comments"><i class="fa fa-comments-o pl-1 pr-1"></i> <a href="#">22 comments</a></span>
                                </div>-->
                            </header>
                            <div class="blogpost-content">
                                <h1>&nbsp;</h1>
                            </div>
                            <footer class="clearfix">
                                <!--<div class="tags pull-left"><i class="fa fa-tags pr-1"></i> <a href="#">tag 1</a>, <a href="#">tag 2</a>, <a href="#">long tag 3</a></div>
                                <div class="link pull-right"><i class="fa fa-link pr-1"></i><a href="#">Read More</a></div>-->
                            </footer>
                        </article>
                        <!-- blogpost end -->
                    </div>
                    <!-- masonry grid item end -->

                    <!-- masonry grid item start -->
                    <div class="masonry-grid-item col-md-6 col-lg-4">
                        <!-- blogpost start -->
                        <article class="blogpost hc-shadow-2 light-gray-bg bordered hc-element-invisible" data-animation-effect="fadeInUpSmall" data-effect-delay="100">
                            <header>
                                <h2></h2>
                                <!--<div class="post-info">
                                    <span class="post-date">
                                      <i class="fa fa-calendar-o pr-1"></i>
                                      <span class="day">09</span>
                                      <span class="month">May 2017</span>
                                    </span>
                                    <span class="submitted"><i class="fa fa-user pr-1 pl-1"></i> by <a href="#">Lorem</a></span>
                                    <span class="comments"><i class="fa fa-comments-o pl-1 pr-1"></i> <a href="#">22 comments</a></span>
                                </div>-->
                            </header>
                            <div class="blogpost-content">
                                <h1>&nbsp;</h1>
                            </div>
                            <footer class="clearfix">
                                <!--<div class="tags pull-left"><i class="fa fa-tags pr-1"></i> <a href="#">tag 1</a>, <a href="#">tag 2</a>, <a href="#">long tag 3</a></div>
                                <div class="link pull-right"><i class="fa fa-link pr-1"></i><a href="#">Read More</a></div>-->
                            </footer>
                        </article>
                        <!-- blogpost end -->
                    </div>
                    <!-- masonry grid item end -->

                    <!-- masonry grid item start -->
                    <div class="masonry-grid-item col-md-6 col-lg-4">
                        <!-- blogpost start -->
                        <article class="blogpost hc-shadow-2 light-gray-bg bordered hc-element-invisible" data-animation-effect="fadeInUpSmall" data-effect-delay="100">
                            <header>
                                <h2></h2>
                                <!--<div class="post-info">
                                    <span class="post-date">
                                      <i class="fa fa-calendar-o pr-1"></i>
                                      <span class="day">09</span>
                                      <span class="month">May 2017</span>
                                    </span>
                                    <span class="submitted"><i class="fa fa-user pr-1 pl-1"></i> by <a href="#">Lorem</a></span>
                                    <span class="comments"><i class="fa fa-comments-o pl-1 pr-1"></i> <a href="#">22 comments</a></span>
                                </div>-->
                            </header>
                            <div class="blogpost-content">
                                <h1>&nbsp;</h1>
                            </div>
                            <footer class="clearfix">
                                <!--<div class="tags pull-left"><i class="fa fa-tags pr-1"></i> <a href="#">tag 1</a>, <a href="#">tag 2</a>, <a href="#">long tag 3</a></div>
                                <div class="link pull-right"><i class="fa fa-link pr-1"></i><a href="#">Read More</a></div>-->
                            </footer>
                        </article>
                        <!-- blogpost end -->
                    </div>
                    <!-- masonry grid item end -->

                </div>
                <!-- masonry grid end -->
            </div>
            <!-- main end -->

        </div>
    </div>
</section>

<script type="text/javascript">

    function checkedNewFontToServer() {
        AjaxUtils.post("/api/font/new/checked" , null , function () {
            hideNewBadges();
        });
    };

    checkedNewFontToServer();

</script>